* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    overflow-x: hidden;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #c1c1c9;
}

h1,
h2,
h3,
label,
p {
    color: #c1c1c9;
    text-decoration: none;
}

.login-section, .main-section, .msHeader, .msMain, .footer {
    width: 100vw;
    flex-shrink: 0;
}

.error {
    color: #ff4d4d;
    font-size: 0.8rem;
    margin-top: 4px;
    display: block;
}


/*===== UNTUK BUAT ANIMASI SWIPE DARI LOGIN KE HALAMAN UTAMA =====*/
.container {
    display: flex;
    width: 200vw;
    transition: transform 0.6s ease-in-out;
}

.section {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.fade-in {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.1s ease-in-out;
}

/*==================== LOGIN SECTION ====================*/
.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    background-image: url(assets\login-bg2.jpg);
}

.login-box {
    background: #fff;
    padding: 3rem;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.login-box h2 {
    font-size: 2rem;
    margin-top: 1rem;
    color: #111;
}

.login-box input {
    width: 100%;
    margin: 2rem 0;
    padding: 0.8rem 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.login-box button {
    width: 100%;
    background: #333d97;
    color: #fff;
    margin-bottom: 0;
    padding: 0.8rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.login-box button:hover {
    background: #3951be;
}

/*==================== MAIN SECTION ====================*/
.main-section {
    background: #000000;
    overflow-x: hidden;
    overflow-y: auto;
}

.msHeader {
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 1.5rem 5rem;
    margin-bottom: 0.5rem;
    background-color: #000000;
    box-shadow: 0 2px 4px rgba(120, 161, 199, 0.884);
}

/*====== Navigation Menu =====*/
.navigasiMenu {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    text-decoration: none;
    align-items: center;
    margin-right: 2rem;
    font-weight: 600;
    transition: .5s;
}

.nav_item a {
    font-weight: 500;
    text-decoration: none;
    color: #dadada;
}

.nav_link {
    position: relative;
    color: #ebebeb;
}

.nav_link:hover {
    position: relative;
}

.nav_link:hover::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 1.5rem;
    background-color: #3544c4;
}

/*====== Active menu ======*/
.active ::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 1.5rem;
    background-color: #3544c4;
}

/*====== Show menu ======*/
.show {
    right: 0;
}

/* Posisi default (login tampil) */
body.show-main .container {
  transform: translateX(-100vw);
}

/* Sembunyikan dulu bagian utama, tapi tetap dalam DOM */
.hidden {
  opacity: 0;
  pointer-events: none;
}

/*==================== MAIN ====================*/
.msMain {
    margin: 4.5rem 0 2rem;
    z-index: 2;
    transition: transform 0.6s ease-in-out;
}

.section-title {
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    margin-bottom: 3.5rem;
    text-align: center;
}

.section-title ::after {
    position: absolute;
    content: '';
    width: 550px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 3rem;
    background-color: #3366ff;
}

/*==================== HOME ====================*/
.home {
    height: 100%;
    margin-top: 4.5rem;
    margin-bottom: 2rem;
    background-color: #000000;
}

.home-banner {
    width: 100%;
    height: 20rem;
    margin-bottom: 2rem;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.slider-banner {
    display: flex;
    width: calc(200%);
    animation: slide 12s linear infinite;
}

.slider-banner img {
    width: 100vw;
    height: 20rem;
    object-fit: cover;
    flex-shrink: 0;
}

/* Animasi geser ke kiri */
@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.home-intro {
    margin-left: 8rem;
    margin-right: 5rem;
    padding-bottom: 3rem;
}

.home-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #cfcfcf;
}

.home-intro h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/*==================== PROFIL ====================*/
.sectionM {
    margin: 6rem;
}

.subProfil h3 {
    margin-bottom: 4rem;
}

.subSkill {
    margin: 3rem 0 2rem;
}

.skill-container {
    display: flex;
    justify-content: space-around;
    row-gap: 1rem;
}

.skill-card {
    display: grid;
    justify-content: space-around;
    row-gap: 1rem;
    justify-items: center;
}

.skill-logo {
    width: 80px;
    height: 80px;
}

/*==================== ACHIEVEMENT ====================*/
.project-container {
    display: flex;
    justify-content: space-around;
    row-gap: 1rem;
}

.project-card {
    display: grid;
    justify-content: space-around;
    row-gap: 1rem;
    justify-items: center;
    width: 200px;
    height: 400px;
    background: linear-gradient(#555555, #3b3b3b);
    padding: 0.3rem;
    border-radius: 4px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

}

.project-img {
    width: 190px;
    height: 190px;
}

/*==================== CONTACT ====================*/
.contact h3 {
    margin-bottom: 2rem;
    padding-left: 4rem;
}

.form-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 4rem 0;
    gap: 4rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    flex: 1;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.form-group label {
    width: 120px;
    text-align: justify;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="date"],
.form-group textarea {
    flex: 1;
    border: 1px solid #000;
    background: rgb(218, 218, 218);
    padding: 4px;
}

.gender {
    gap: 0.5rem;
}

.gender input[type="radio"] {
    margin-left: 0.5rem;
}

.contactBtn {
    align-self: flex-end;
    padding: 0.2rem 1.2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #215086;
    border-radius: 5px;
    cursor: pointer;
}

.preview-box textarea {
    border: 1px solid #4d4d4d;
    border: 1px solid #000;
    background: rgb(218, 218, 218);
    resize: none;
}

/*==================== FOOTER ====================*/
.footer {
    padding: 2rem;
    text-align: center;
    background: rgb(48, 48, 48);
}